header.header {
	position: fixed;
	z-index: 5;
    width: 100%;
    transition: transform .5s ease;
	
	.top-bar {
		background-color: rgba(250, 247, 242, .87);
	}
	
	#top-bar-menu {
		padding: .9375rem;
		transition: padding 0.4s ease;
		
		@include breakpoint(xlarge) {
			padding: 1.094rem .9375rem;
		}

		@include breakpoint(xxlarge) {
			padding: 1.876rem;
		}		
		
		ul.menu {
			li {
				a {
					color: $black;
					font-size: rem-calc(15);
					text-transform: uppercase;
				}
				
				a.logo-link {
					padding: 0;
					img.header-logo {
						max-width: 180px;
						
						@include breakpoint(medium) {
							max-width: 209px;
						}
						
					}
					
				}
				
				a.mobile-toggle {
					padding: 0;
					position: relative;
					width: 36px;
					height: 26px;
					span {
						position: absolute;
						display: block;
						background-color: $black;
						width: 100%;
						height: 2px;
						border-radius: 2px;
						
					&:nth-child(1) {
						top: 5px;
					}	

					&:nth-child(2) {
						top: 12px;
					}	
					
					&:nth-child(3) {
						bottom: 5px;
					}	
						
					}
				}
				
			}
			
		}
	}
	
	a.order-now {
		font-family: $header-font-family;
		text-transform: none;
		font-size: 1rem;
		padding: 0.55em 0.9675em;
		font-size: rem-calc(20);
		transition: all 0.25s ease;	
	}
		
}

ul#offcanvas-nav.menu {
	padding-top: 2em;
	
	li {
		
		a {
			color: $secondary-color;
		}
	
	&.active {
		> a {
			color: $primary-color;
		}
	}
	
	}
}

.error404,
.page-template-page-contact {
	
	header.header {
	
		.top-bar {
			background-color: $secondary-color;
		}
			
		#top-bar-menu {

			ul.menu {
				li {
					a {
						color: $text-white;
					}
					
					a.mobile-toggle {

						span {
							background-color: $text-white;	
						}
					}
					
				}
				
			}
		}	
		
		a.order-now {
			color: $text-white;
			border-color: $text-white;
		}	
		
	}
	
}